@CHARSET "ISO-8859-1";


body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}
#https://www.mediaevent.de/css/css-listen.html
ul {
	list-style: none
}